@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,116&display=swap");
#root {
  font-size: 16px;
  font-family: "Kumbh Sans";
  margin-left: 5rem;
  margin-right: 5rem;
}
